$text_color: #919191;
$header_color: #566366;
$accent_color: #2ecc71;
$bg_darck: #252e30;
$bg_light: #f2f2f1;
$bg: #ffffff;
$footer_darck: #191f21;
$accent_darck: #4b5456;
body {
	font-family: 'Roboto', sans-serif;
	background-color: $bg;
	font-size: 18px;
	color: $text_color;
	.menu_mobile_full {
			display: none;
		}
		.open {
			display: block;
			#close {
				position: fixed;
				top: 5px;
				right: 20px;
				font-size: 30px;
				color: #fff;
				cursor: pointer;
			}		
			z-index: 99;
			width:100%;
    		min-height:100%;
    		background-color: rgba(0,0,0,.95);
    		overflow:hidden;
    		position:fixed;
  			top:0px;
  			text-align: center;
				.menu_mobile {
					display: inline-block;
					margin: 20px 0;
					line-height: 50px;
					li {
						list-style: none;
						a {
						    font-family: "Roboto";
							font-weight: 700;
							font-size: 18px;
							letter-spacing: .05em;
							text-decoration: none;
							color: #f9f9f9;
							text-transform: uppercase;
						}
					}
				}
			}
	header {
		z-index: 5;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		line-height: 70px;
		background-color: $bg_darck;
		@media(max-width:992px) {
  			.nav {
    			display: none;
  			}
		}
		@media(max-width:992px) {
  			.menu {
    			display: block !important;
    			text-align: right;
    			font-size: 20px;
    			i {
    				cursor: pointer;
    				transition: 0.5;
    				color: $bg;
    				font-size: 25px;
    			}
    			i:hover {
					color: $accent_color;
				}
  			}
		}
		.menu {
			display: none ;
		}
		ul {
			text-align: right;
			
			li {
				display: inline-block;
				margin: 0 0 0 30px;
				a {
					font-family: 'Roboto', sans-serif;
					font-weight: 700;
					color: $bg;
					text-decoration: none;
					font-size: 16px;
					text-transform: uppercase;
					transition: .5s;
				}
				a:hover {
					color: $accent_color;
				}
			}
			li:first-child {
				margin: 0 0 0 0;
			}
		}
	}
	.slider {
		.overlay {
			padding: 200px 0;
			background-color: rgba(0, 0, 0, .5);
		}
		color: $bg;
		background-image: url(../img/sliderbg.jpg);
		background-size: cover;
		background-position: center;
		text-align: center;
		h1 {
			padding: 5px 0; 
			font-size: 60px;
			text-transform: uppercase;
			border-top: 2px solid $bg;
			border-bottom: 2px solid $bg;
			margin: 0 0 40px;
		}
		a {
			text-decoration: none;
			color: $bg;
			font-size: 18px;
			text-transform: uppercase;
			cursor: pointer;
			display: inline-block;
			line-height: 60px;
			padding: 0 60px;
			background: none;
			border: 2px solid $bg;
		}
	}
	.about {
		.list {
			padding: 100px 0 90px; 
			h2 {
				color: $header_color;
				text-transform: uppercase;
				font-weight: 700;
				font-size: 30px;
				margin: 0 0 30px;
			}
			p {
				margin: 0 0 40px;
			}
		}
		.story {
			background-color: $bg_light;
			.col-md-4 {
				img {
					width: 100%;
					padding: 90px 0 50px;
				}
			}
			.col-md-8 {
				h3 {
					padding: 90px 0 50px;
					color: $header_color;
					text-transform: uppercase;
					font-weight: 700;
					font-size: 30px;
				}
				p {
					padding: 0 0 35px;
				}
				ul {
					li {
						width: 320px; 	
						display: inline-block;
						margin: 20px;
						h4 {
							color: $header_color;
							text-transform: uppercase;
							font-weight: 700;
							font-size: 22px;
							padding: 0 0 20px;
						}
						i {
							color: $accent_color;
							font-size: 40px;
						}
					}
				}
			}
		}
	}
	.skill {
		padding-top: 100px;
		padding-bottom: 100px;
		h2 {
			color: $header_color;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 30px;
			margin: 0 0 30px;
		}
		p {
			margin: 0 0 35px;
		}
		a {
			text-decoration: none;
			color: $accent_color;
			font-size: 18px;
			text-transform: uppercase;
			cursor: pointer;
			display: inline-block;
			line-height: 60px;
			padding: 0 60px;
			margin: 0 0 30px;
			background: none;
			border: 2px solid $accent_color;
		}
		.progress {
			li:nth-child(3) {
				p:after {
				    content:"70%";
					width: 70%;
				}
			}
			li:nth-child(4) {
				p:after {
					content:"70%";
					width: 70%;
				}
			}
			li:nth-child(5) {
				p:after {
					content:"60%";
					width: 70%;
				}
			}
			li {
				list-style-type: none;
				h3 {
					color: $header_color;
					text-transform: uppercase;
					margin: 0 0 20px;
					font-weight: 700;
					font-size: 22px;

				}
				p {
					line-height: 33px;
					display: inline-block;
					background-color: $bg_light;
					text-align: right;
					width: 100%;
					position: relative;
				}
				p:after {

					content:"90%";
					display: inline-block;
					background-color: $accent_color;
					position:absolute;
					left:0;
					width: 90%;
					padding: 0 10px 0 0;
				}
			}
		}
	}
	.resume:after {
		content: "";
		display: inline-block;
		width: 70px;
		height: 70px;
		transform: rotate(45deg);
		background-color: $bg_light;
		bottom: -20px;
		left: 47%;
		position: absolute;
	}
	.resume {
		position: relative;
		padding: 100px 0;
		text-align: center;
		background-color: $bg_light;
		h2 {
			color: $header_color;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 30px;
			margin: 0 0 40px;
		}
		p {
			margin: 0 0 40px;
		}
		a {
			text-decoration: none;
			color: $accent_color;
			font-size: 18px;
			text-transform: uppercase;
			cursor: pointer;
			display: inline-block;
			line-height: 60px;
			padding: 0 60px;
			background: none;
			border: 2px solid $accent_color;
		}		
	}
	.experiance {
		border-bottom: 1px solid #cccccc;
		padding: 100px 0;
		h2 {
			color: $header_color;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 30px;
			margin: 0 0 40px;
		}
		p {
			margin: 0 0 40px;
		}
		.list {
			li {
				list-style-type: none;
				h3 {
					color: $header_color;
					text-transform: uppercase;
					font-weight: 700;
					font-size: 22px;
					margin: 0 0 15px;
				}
				.time {
					margin: 0 0 30px;
					span {
					font-weight: 500;
					}
				}
				.over {
					display: inline-block;
					line-height: 30px;
					color: $bg;
					background-color: $accent_color;
					padding: 0 10px;
				}
				p {
					border-top: 1px solid #cccccc;
					padding: 25px 0;
					margin: 25px 0 25px;
				}
			}
		}
	}
	.portfolio {
		background-color: $bg_light;
		padding: 100px 0;
		text-align: center;
		h2 {
			color: $header_color;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 30px;
			margin: 0 0 40px;
		}
		p {
			margin: 0 0 90px;
		}
		ul {
			li {
				display: inline-block;
				margin: 5px;
				max-width: 360px;
				img {
					width: 100%;
				}
			}
			li:hover {
				li:after {
					content: "dsds";
					width: 100%;
					background-color: rgb(46, 204, 113);
  					opacity: 0.749;
				}
			}
		}
	}
	.contact {
		padding: 100px 0;
		background-color: $bg_darck;
		.col-md-6 {
			margin-bottom: 30px;
		}
		h2 {
			color: $bg;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 30px;
			margin: 0 0 40px;
		}
		p {
			margin: 0 0 30px;
		}
		li {
			list-style-type: none;
			span:first-child {
				color: $bg;
				margin: 0 30px 0 0;
			}
		}
		form {
			input[type="text"], textarea {
			display: block;
			width: 100%;
			margin: 20px 0;
			background-color: $accent_darck;
			padding: 20px;
			color: $bg;
			font-size: 18px;
			resize: none;
			}
			label {
				color: $bg;
			}
			label:after {
				content: "*";
			}
			button {
				cursor: pointer;
				line-height: 60px;
				padding: 0 35px;
				text-transform: uppercase;
				color: $bg;
				font-weight: 700;
				font-size: 18px;
				background-color: $footer_darck;
			}
		}
	}
	footer {
		background-color: $footer_darck;
		padding: 50px 0;
		text-align:center;
		p {
			margin: 0 0 30px;
		}
		li {
			display: inline-block;
			margin: 0 10px;
			line-height: 35px;
			width: 35px;
			background-color: $bg_darck;
			border-radius: 50%;
			a {
				color: $footer_darck;
				transition: .5s;
			}
		}
		li:hover {
			a {
				color: $bg;
			}
		}
	}
}